{% extends 'productos/base.html' %}
{% block title %}Catálogo de Productos{% endblock %}

{% block content %}
    <h1 class="my-4 text-center">Los recién llegados</h1>
    
    <div class="row">
        {% for producto in productos %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'detalle_producto' producto.id %}">
                        <img class="card-img-top" src="/static/images/{{ producto.imagen }}" alt="{{ producto.nombre }}">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{% url 'detalle_producto' producto.id %}">{{ producto.nombre }}</a>
                        </h4>
                        <h5 class="card-text">{{ producto.precio }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}