{% extends 'base.html' %} 
{% block title %}Bienvenidos{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-4 text-center">Tienda de productos tecnológicos</h1>
            <p class="text-center">
                Somos una tienda especializada en la venta de productos tecnológicos de vanguardia.
                Desde cámaras de alta gama hasta portátiles y accesorios para videojuegos,
                ofrecemos una selección de los mejores productos para satisfacer tus necesidades.
            </p>
        </div>
    </div>
{% endblock %}